.catalog__container {
  max-width: 1366px;
  margin: 0 auto;
}

.catalog__content-container {
  margin-left: 7.2%;
  margin-right: 7.2%;
  margin-top: 91px;
  display: flex;
}

.catalog__content-filter-trigger {
  display: none;
}

.catalog__filter-form {
  width: 250px;
  border-top: 1px solid $brown;
}

.catalog__filter-close-btn {
  display: none;
}

.catalog__filter-form h3 {
  font-family: $poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: $black;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 23px;
  padding-left: 24px;
  cursor: pointer;
  border-left: 1px solid $brown;
  border-right: 1px solid $brown;

  &:focus {
    color: $brown;
    outline: none;
  }

  &:hover {
    opacity: 0.5;
  }
}

.catalog__filter-section {
  padding-left: 24px;
  border-bottom: 1px solid $brown;
  position: relative;
  border-left: 1px solid $brown;
  border-right: 1px solid $brown;

  &::after {
    content: "";
    position: absolute;
    right: 22px;
    top: -38px;
    background-image: url("../img/arrow-down-icon.svg");
    background-repeat: no-repeat;
    width: 18px;
    height: 12px;
  }

  &:focus {
    outline: none;
  }

  &--opened {
    &::after {
      background-image: url("../img/arrow-up-icon.svg");
    }
  }

  &--range {
    padding-right: 24px;
    padding-top: 4px;
  }
}

.catalog__filter-inputs {
  display: flex;
  flex-direction: column;
  padding-bottom: 13px;
}

.catalog__filter-inputs-range {
  font-family: $poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: $black;
  border: none;
  padding-top: 12px;
  padding-left: 13px;
  outline: none;
}

.catalog__filter-section label {
  font-family: $poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: $black;
  padding-left: 25px;
  position: relative;
  margin-bottom: 13px;
}

label.catalog__filter-inputs-range-label {
  margin-bottom: 4px;
}

.catalog__filter-section input {
  appearance: none;
}

.catalog__filter-section input:checked + span {
  background-color: $brown;
}

.catalog__filter-section span {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 10px;
  top: 2px;
  border: 1px solid $brown;
  background-color: $white;
}

.catalog__filter-form button {
  width: 250px;
  height: 68px;
  border: none;
  font-family: $poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.4;
  }
}

.catalog__filter-form button[type="submit"] {
  background-color: $brown;
  color: $white;
  margin-top: 35px;
}

.catalog__filter-form button[type="button"] {
  background-color: transparent;
  border: 1px solid $brown;
  color: $black;
  margin-top: 25px;
}

.filter-hidden {
  display: none;
}

.filter-visible {
  display: flex;
}

.catalog__products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 4.3%;
}

.catalog__product {
  margin-bottom: 36px;
  width: 31%;
}

.catalog__product h3 {
  font-family: $poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: $black;
  text-align: center;
  margin: 0;
  padding-top: 18px;
  padding-bottom: 6px;
}

.catalog__product p {
  font-family: $poppins;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: $black;
  text-align: center;
  margin: 0;
}

.catalog__product a {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.catalog__product-image {
  width: 100%;
  height: 100%;
}

.catalog__pagination {
  border-top: 1px solid $border-gray;
  display: flex;
  margin-right: 6%;
  padding-top: 34px;
}

.catalog__pagination-btn {
  font-family: $poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: $black;
  border: none;
  background-color: $white;
  width: 69px;
  cursor: pointer;

  &--previous {
    margin-left: auto;
    margin-right: 24.5%;
  }

  &:focus {
    outline: none;
    color: $brown;
  }
}

.catalog__pagination-pages {
  margin-right: 25.89%;
}

.catalog__pagination-pages-btn {
  font-family: $poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: $gray;
  border: none;
  background-color: $white;
  width: 9px;
  margin-right: 6px;
  cursor: pointer;

  &:focus {
    outline: none;
    color: $brown;
  }

  &--active {
    color: $black;
  }
}

.ui-widget-content {
  height: 1px;
  box-sizing: border-box;
}

.ui-slider .ui-slider-handle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $brown;
  top: -8px;
  cursor: pointer;
  outline: none;
}

.ui-slider .ui-slider-range {
  border: 1px solid $brown;
}

.ui-widget.ui-widget-content {
  border: 1px solid $cream;
}

@media (max-width: $tablet) {
  .catalog__content-container {
    flex-direction: column;
    position: relative;
    width: 678px;
    margin: 0 auto;
    margin-top: 30px;
  }

  .catalog__filter {
    display: none;

    &--visible {
      display: block;
      position: absolute;
      top: 111px;
      left: -45px;
      z-index: 5;
    }
  }

  .catalog__content-filter-trigger {
    display: block;
    width: 678px;
    height: 68px;
    background-color: $brown;
    border: none;
    font-family: $poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: $white;
    margin-top: 20px;
  }

  .catalog__filter-form {
    width: 423px;
    background-color: $white;
    border-top: none;
    position: relative;
    padding-bottom: 40px;
  }

  .catalog__filter-form button {
    width: 362px;
    margin-left: 21px;
  }

  button.catalog__filter-close-btn {
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url("../img/filter-close.svg");
    background-color: transparent;
    top: -15px;
    right: -15px;
    background-repeat: no-repeat;
  }

  .catalog__filter-form h3 {
    border-left: none;
    border-right: none;
  }

  .catalog__filter-section {
    border-left: none;
    border-right: none;
  }

  .catalog__products-container {
    margin-left: 0;
    margin-top: 50px;
  }

  .catalog__product {
    margin-bottom: 35px;
    width: 206px;
  }

  .catalog__product-image {
    width: 206px;
    height: 208px;
  }

  .catalog__pagination {
    justify-content: space-between;
    margin-right: 0;
    padding-right: 30px;
    padding-left: 39px;
  }

  .catalog__pagination-btn--previous {
    margin: 0;
  }

  .catalog__pagination-pages {
    margin: 0;
    margin-right: 16px;
  }
}

@media (max-width: $mobile) {
  .catalog__content-container {
    width: 290px;
    margin-top: 20px;
  }

  .catalog__products-container {
    margin-top: 40px;
  }

  .catalog__product {
    width: 130px;
    margin-bottom: 26px;
  }

  .catalog__product h3 {
    padding-top: 12px;
  }

  .catalog__product-image {
    width: 130px;
    height: 136px;
  }

  .catalog__content-filter-trigger {
    width: 290px;
  }

  .catalog__pagination-btn {
    display: none;
  }

  .catalog__pagination {
    padding: 0;
    padding-top: 15px;
    border: none;
  }

  .catalog__pagination-pages {
    margin: 0 auto;
  }

  .catalog__pagination-pages-btn {
    margin-right: 15px;
  }

  .catalog__filter-form {
    width: 290px;
  }

  .catalog__filter {
    &--visible {
      display: block;
      position: absolute;
      top: 111px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 5;
    }
  }

  .catalog__filter-form button {
    width: 230px;
  }

  button.catalog__filter-close-btn {
    width: 32px;
    height: 32px;
    top: -18px;
    right: -8px;
  }
}
