.faq {
  margin-top: 90px;
}

.faq__container {
  max-width: 1366px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.faq__container h2 {
  font-family: $cormorant;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: 0.03em;
  color: $black;
  text-align: center;
  margin: 0;
}

.faq__content {
  border: 1px solid $brown;
  width: 970px;
  margin: 0 auto;
  margin-top: 48px;
}

.faq__list {
  @include list-reset;
}

.faq__list li {
  padding-left: 43px;
  padding-top: 43px;
  padding-bottom: 43px;
  border-bottom: 1px solid $brown;
  position: relative;

  &::after {
    content: "";
    width: 17px;
    height: 11px;
    background-repeat: no-repeat;
    background-image: url("../img/arrow-down-icon.svg");
    position: absolute;
    right: 49px;
    top: 48px;
  }

  &:last-child {
    border: none;
  }

  &:focus {
    outline: none;

    h3 {
      color: $brown;
    }
  }
}

.faq__list h3 {
  font-family: $poppins;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: $black;
  margin: 0;
  cursor: pointer;
}

.faq__list p {
  font-family: $poppins;
  font-size: 16px;
  line-height: 21px;
  color: $black;
  margin: 0;
  padding-left: 7px;
  padding-top: 8px;
  width: 505px;
}

.faq-hidden {
  display: none;
}

.faq-visible {
  display: block;
}

.faq-visible-li li::after {
  background-image: url("../img/arrow-up-icon.svg");
}

@media (max-width: $tablet) {
  .faq {
    margin-top: 70px;
  }

  .faq__content {
    width: 678px;
  }

  .faq__list li {
    padding-left: 50px;
    padding-bottom: 44px;

    &::after {
      right: 53px;
      top: 52px;
    }
  }

  .faq__list p {
    padding-left: 0;
    padding-top: 26px;
    width: 530px;
  }
}

@media (max-width: $mobile) {
  .faq {
    margin-top: 20px;
  }

  .faq__content {
    width: 290px;
    margin-top: 28px;
  }

  .faq__list li {
    padding-left: 25px;
    padding-top: 17px;
    padding-bottom: 20px;

    &::after {
      right: 26px;
      top: 24px;
    }

    &:last-child h3 {
      width: 210px;
    }
  }

  .faq__list h3 {
    font-size: 16px;
    line-height: 22px;
    width: 182px;
  }

  .faq__list p {
    font-size: 14px;
    line-height: 20px;
    padding-top: 14px;
    width: 205px;
  }
}
