.footer {
  background-color: #000000;
}

.footer__container {
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer__subscription {
  margin-left: 98px;
}

.footer__subscription h2 {
  font-family: $cormorant;
  font-size: 34px;
  font-weight: 700;
  line-height: 44px;
  color: $white;
  letter-spacing: 0.03em;
  margin: 0;
}

.footer__subscription h3 {
  font-family: $poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: $gray;
  letter-spacing: 0.03em;
  margin: 0;
}

.footer__subscription form {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $white;
}

.footer__subscription input {
  font-family: $poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $gray;
  background-color: transparent;
  border: 0;
  width: 316px;
}

.footer__subscription button {
  font-family: $poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  background: none;
  border: none;
  color: $white;
}

.footer__subscription svg {
  stroke: $white;
}

.footer__navigation {
  display: flex;
  margin-right: 98px
}

.footer__navigation ul {
  @include list-reset;
}
