.header__container {
  max-width: 1366px;
  margin: 0 auto;
}

.header__nav-btn {
  display: none;
}

.header__user-tools {
  display: flex;
  justify-content: space-between;
  padding-left: 98px;
  padding-right: 98px;
  padding-top: 42px;
  padding-bottom: 49px;
}

.header__user-tools input {
  font-family: $poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  border: 0;
  padding-left: 11px;
}

.header__logo {
  display: block;
  position: absolute;
  left: 50%;
  top: 30px;
  transform: translateX(-50%);
}

.header__logo-image {
  fill: $brown;
}

.header__tools {
  width: 119px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__navigation {
  border-top: 1px solid $border-gray;
}

.header__container ul {
  @include list-reset;
  display: flex;
  margin: 0 auto;
  margin-top: 19px;
  padding-left: 47px;
  flex-wrap: wrap;
  width: 530px;
}

.header__container ul:last-of-type {
  display: none;
}

.header__container li {
  margin-right: 35px;
}

.header__container a {
  font-family: $poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $black;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.4;
  }
}

.header__tools a {
  font-family: $poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: $black;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.4;
  }
}

.header__tools-cart-image {
  display: none;
}

.header__banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $white;
  min-height: 463px;
  margin-top: 18px;
  background-image: url("../img/banner.png");
  background-size: 1366px 471px;
  background-repeat: no-repeat;
  background-position: center 0;
  background-color: rgba(86, 64, 52, 0.7);
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/banner@2x.png");
  }

  &--catalog {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $white;
    background-position: center 0;
    background-color: rgba(86, 64, 52, 0.7);
    background-image: url("../img/banner-catalog.png");
    background-size: 1366px 261px;
    min-height: 261px;
    filter: none;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/banner-catalog@2x.png");
    }
  }
}

.header__banner h1 {
  font-family: $cormorant;
  font-weight: 700;
  font-size: 45px;
  line-height: 44px;
  letter-spacing: 0.03em;
  margin: 0;
  padding-top: 7px;
}

.header__banner--catalog h1 {
  font-family: $cormorant;
  font-weight: 700;
  font-size: 35px;
  line-height: 44px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  letter-spacing: -0.02em;
}

.header__banner p {
  font-family: $cormorant;
  font-style: italic;
  font-size: 38px;
  line-height: 49px;
  margin: 0;
}

.header__banner--catalog p {
  font-family: $cormorant;
  font-style: italic;
  font-size: 22px;
  font-weight: 500;
  line-height: 29px;
  margin-top: 0;
  padding-left: 5px;
}

@media (max-width: $tablet) {
  .header__user-tools {
    padding-right: 44px;
    padding-top: 53px;
    padding-bottom: 133px;
    position: relative;

    &--close-nav {
      padding-bottom: 55px;
    }

    &--nav-opened {
      background-color: $brown;
      padding-bottom: 133px;
    }
  }

  .header__nav-btn {
    display: block;
    position: absolute;
    top: 53px;
    left: 38px;
    background-color: transparent;
    border: 0;
    visibility: hidden;

    &--close-nav {
      visibility: visible;
    }
  }

  .header__nav-btn-img {
    stroke: $black;

    &--nav-opened {
      stroke: $white;
    }
  }

  .header__logo-image {
    fill: $brown;

    &--nav-opened {
      fill: $white;
    }
  }

  .header__search {
    position: absolute;
    bottom: 10px;
    left: 46px;
    box-sizing: border-box;
    width: 90%;

    &--close-nav {
      display: none;
    }

    &--nav-opened {
      display: block;
    }
  }

  .header__search input {
    border-radius: 21px;
    position: relative;
    padding-top: 8px;
    padding-bottom: 9px;
    width: 98%;
    box-sizing: border-box;
    padding-left: 40px;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid $black;

    &::placeholder {
      font-size: 0;
    }
  }

  .header__search-icon {
    position: absolute;
    top: 10px;
    left: 11px;
    z-index: 1;
    fill: $black;

    &--nav-opened {
      fill: $white;
    }
  }

  .header__container a {
    font-size: 24px;
    line-height: 36px;
  }

  .header__navigation {
    border-top: none;
    padding-top: 36px;
    padding-bottom: 53px;

    &--close-nav {
      display: none;
    }

    &--nav-opened {
      z-index: 9;
      display: block;
      background-color: $brown;
      position: absolute;
      width: 100%;
      height: 100vh;
    }
  }

  .header__container ul {
    flex-direction: column;
    margin-left: 0;
    margin-top: 0;
    padding-left: 45px;
    width: 90%;
    box-sizing: border-box;
  }

  .header__container ul:last-of-type {
    display: block;
    padding-top: 18px;
  }


  .header__add-nav a {
    font-size: 18px;
    line-height: 23px;
    color: $black;
  }

  .header__add-nav-login {
    margin-top: 44px;
  }

  .header__container li {
    margin-bottom: 21px;
  }

  .header__tools a {
    display: inherit;
    font-size: 0;
    position: absolute;
    right: 44px;
    top: 53px;
  }

  .header__tools-cart-image {
    display: block;
    fill: transparent;
    stroke: $black;

    &--nav-opened {
      stroke: $white;
    }

    &:hover {
      opacity: 0.6;
    }
  }

  .header__banner {
    background-position: 43% center;
    min-height: 463px;
    background-size: 1320px 479px;
  }

  .header__banner h1 {
    width: 303px;
    padding-top: 5px;
  }

  .header__banner--catalog h1 {
    padding-top: 22px;
  }

  .header__banner--catalog p {
    padding-top: 2px;
    padding-left: 0;
  }

  .header__banner p {
    width: 247px;
  }
}

@media (max-width: $mobile) {
  .header__nav-btn {
    top: 36px;
    left: 8px;
  }

  .header__logo {
    top: 20px;
  }

  .header__logo-image {
    width: 52px;
    height: 52px;
  }

  .header__tools a {
    right: 14px;
    top: 36px;
  }

  .header__user-tools {
    &--close-nav {
      padding-bottom: 21px;
    }

    &--nav-opened {
      padding-bottom: 97px;
    }
  }

  .header__search {
    bottom: 8px;
    left: 15px;
    width: 92.5%;
  }

  .header__search-icon {
    top: 12px;
    left: 12px;
  }

  .header__search input {
    padding-top: 10px;
    padding-bottom: 9px;
  }

  .header__navigation {
    padding-top: 28px;
  }

  .header__container ul {
    padding-left: 4.58%;
  }

  .header__container ul:last-of-type {
    padding-top: 9px;
  }

  .header__add-nav-login {
    margin-top: 33px;
  }

  .header__banner {
    background-image: url("../img/banner-tablet.png");
    background-size: 768px 463px;
    background-position: 39% center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/banner-tablet@2x.png");
    }
  }

  .header__banner h1 {
    font-size: 38px;
    line-height: 38px;
    width: 240px;
  }

  .header__banner p {
    font-size: 34px;
    line-height: 44px;
    width: 205px;
  }
}
