.new-in {
  margin-top: 120px;

  &--product {
    margin-top: 116px;
  }
}

.new-in__container {
  max-width: 1366px;
  margin: 0 auto;
}

.new-in__container h2 {
  font-family: $cormorant;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  color: $black;
  text-align: center;
  margin: 0;
}

.new-in__shop-now {
  display: flex;
  justify-content: center;
  margin-top: 23px;

  &--product {
    margin-top: 23px;
  }
}

.new-in__shop-now a {
  font-family: $poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: $black;
  border-bottom: 1px solid $brown;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.4;
  }
}

/* SWIPER */
.swiper-container {
  margin-top: 42px;
  margin-left: 7.2%;
  margin-right: 7.2%;

  &--nojs {
    margin-right: 4.6%;
    margin-top: 3px;
  }
}

.swiper-nav {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  top: -48px;
  left: 0;
  margin-right: 6.8%;
  margin-left: 5.6%;
}

.swiper-nav__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 18px;
  background-position: 6px 3px;

  &--prev {
    background-image: url("../img/arrow-left-icon.svg");
  }

  &--next {
    background-image: url("../img/arrow-right-icon.svg");
  }
}

.swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;

  &--nojs {
    height: initial;
    margin-top: 40px;
    width: 22.3%;
    margin-right: 2.6%;
  }
}

.swiper-wrapper {
  width: 100%;

  &--nojs {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.swiper-pagination {
  width: 100%;
  margin-top: 52px;
}

.swiper-pagination-bullet {
  font-family: $poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  border: none;
  color: $gray;
  background: transparent;
  outline: none;
  border-radius: 0;
}

.swiper-pagination-bullet-active {
  color: $black;
}

.swiper-slide a {
  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.swiper-slide h3 {
  font-family: $poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: $black;
  margin: 0;
  text-align: center;
  padding-top: 17px;
}

.swiper-slide p {
  font-family: $poppins;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: $black;
  margin: 0;
  text-align: center;
  padding-top: 6px;
}

.swiper-slide_product-image {
  width: 100%;
  height: 100%;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  margin-right: 6px;
  margin-left: 6px;
}

/* ---------------------------------- */

@media (max-width: $tablet) {
  .new-in {
    margin-top: 70px;

    &--product {
      margin-top: 66px;
    }
  }

  .new-in__shop-now {
    margin-top: 19px;
  }

  .new-in__shop-now a {
    padding-bottom: 4px;
  }

  /* SWIPER */

  .swiper-nav {
    margin-right: 5.2%;
    margin-left: 5%;
  }

  .swiper-container {
    margin-top: 32px;
    margin-left: 5.9%;
    margin-right: 5.9%;
  }

  .swiper-wrapper {
    &--nojs {
      justify-content: space-between;
    }
  }

  .swiper-slide {
    &--nojs {
      width: 47.8%;
      margin-right: 0;
    }
  }

  .swiper-slide_product-image {
    width: 324px;
    height: 340px;
  }

  .swiper-pagination {
    margin-top: 42px;
  }

  /* ------------- */
}

@media (max-width: $mobile) {
  .new-in {
    margin-top: 60px;

    &--product {
      margin-top: 56px;
    }
  }

  /* SWIPER */

  .swiper-container {
    margin-top: 40px;
    margin-left: 4.8%;
    margin-right: 4.8%;
  }

  .swiper-nav {
    display: none;
  }

  .swiper-wrapper {
    &--nojs {
      width: 290px;
      margin: 0 auto;
    }
  }

  .swiper-slide {
    &--nojs {
      width: 130px;
      height: 100%;
    }
  }

  .swiper-slide h3 {
    padding-top: 11px;
  }

  .swiper-slide_product-image {
    width: 100%;
    height: 100%;
  }

  .swiper-pagination {
    font-family: $poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: $black;
    margin-top: 32px;
  }

  /* ------------ */
}
