.product {
  border-top: 1px solid $border-gray;
  margin: 0 auto;
  margin-top: 17px;
  max-width: 1366px;
}

.product__container {
  max-width: 1366px;
  margin: 0 auto;
}

.product__content-container {
  display: flex;
  margin-top: 17px;
  padding-top: 33px;
  margin-left: 7.2%;
  margin-right: 7.2%;
}

.product__images-container {
  display: flex;
  padding-top: 41px;
  width: 602px;
}

.product__images-preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 5%;
}

.product__images-main img {
  height: 99%;
}

.product__images-pages {
  display: none;
}

.product__images-preview img {
  cursor: pointer;
}

.product__description {
  width: 31.7%;
  padding-top: 32px;
  margin-left: 8.31%;
}

.product__description h3 {
  font-family: $cormorant;
  font-size: 34px;
  font-weight: 700;
  line-height: 44px;
  color: $black;
  margin: 0;
}

.product__description p {
  font-family: $poppins;
  font-size: 26px;
  line-height: 34px;
  color: $black;
  margin: 0;
  padding-top: 10px;
}

.product__description-tabs-pagination {
  padding-top: 38px;
  width: 244px;
  display: flex;
  justify-content: space-between;
}

.product__description-tab-btn {
  font-family: $poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  border: none;
  background-color: $white;
  color: $black;
  padding: 0;

  &--current {
    color: $gray;
  }
}

.product__description-table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}

.product__description-table td {
  font-family: $poppins;
  font-size: 14px;
  line-height: 18px;
  color: $black;
  border-bottom: 1px solid $border-gray;
  padding-top: 12px;
  padding-bottom: 9px;
}

.product__description-table td:first-child {
  font-family: $poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: $black;
}

.product__description-table td:nth-child(2) {
  padding-left: 58%;
  text-align: right;
}

.product__description-add-to-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 68px;
  background-color: $brown;
  font-family: $poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: $white;
  border: none;
  margin-top: 50px;
  cursor: pointer;
}

.product__description-additional-info {
  display: flex;
  justify-content: space-between;
  padding-top: 17px;
}

.product__description-additional-info p {
  font-family: $poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: $gray;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;

  &:first-child {
    border-right: 1px solid $border-gray;
    padding-right: 3.4%;
  }

  &:last-child {
    border-left: 1px solid $border-gray;
    padding-left: 3.6%;
  }
}

.product__slider {
  margin-top: 116px;
}

.product__container h4 {
  font-family: $cormorant;
  font-size: 34px;
  font-weight: 700;
  line-height: 44px;
  color: $black;
  text-align: center;
  margin: 0;
}

.product__add-cart-modal {
  background-color: rgba($black, 0.25);
  z-index: 15;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: auto;
  display: none;

  &--visible {
    display: block;
  }
}

.product__add-cart-modal-window {
  background-color: $white;
  width: 500px;
  top: 372px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 5;
  min-height: 439px;
  box-sizing: border-box;
  box-shadow: 0 4px 32px rgba(121, 121, 121, 0.24);
  position: relative;
  outline: none;

  &--nojs {
    position: static;
    top: 0;
    left: 0;
    transform: translate(0);
    margin: 0 auto;
    box-shadow: none;
    margin-top: 70px;
    border: 1px solid $brown;
  }
}

.product__add-cart-modal-window-close {
  position: absolute;
  right: 14px;
  top: 20px;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/close-icon.svg");
  cursor: pointer;

  &--nojs {
    display: none;
  }
}

.product__add-cart-modal-window h2 {
  font-family: $cormorant;
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
  color: $black;
  text-align: center;
  margin: 0;
  padding-top: 47px;
}

.product__add-cart-modal-item {
  display: flex;
  margin-top: 42px;
  margin-left: 35px;
  margin-right: 33px;
  padding-bottom: 35px;
}

.product__add-cart-modal-item img {
  margin-top: 4px;
}

.product__add-cart-modal-item-description {
  margin-left: 20px;
}

.product__add-cart-modal-item-description h3 {
  font-family: $cormorant;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: $black;
  margin: 0;
}

.product__add-cart-modal-item-description p {
  font-family: $poppins;
  font-size: 18px;
  line-height: 23px;
  color: $black;
  margin: 0;
  padding-top: 7px;
}

.product__add-cart-modal-item-quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
}

.product__add-cart-modal-item-quantity button {
  border: none;
  background-color: $white;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center;

  &:first-child {
    background-image: url("../img/plus-icon.svg");
  }

  &:last-child {
    background-image: url("../img/minus-icon.svg");
  }
}

.product__add-cart-modal-item-quantity output {
  font-family: $poppins;
  font-size: 18px;
  line-height: 23px;
  color: $black;
  padding-top: 14px;
  padding-bottom: 9px;
}

.product__add-cart-modal-summary {
  border-top: 1px solid $border-gray;
  padding-top: 16px;
}

.product__add-cart-modal-summary-info {
  display: flex;
  font-family: $poppins;
  font-size: 14px;
  line-height: 18px;
  color: $black;
  margin-left: 35px;
  margin-right: 33px;
  justify-content: space-between;
}

.product__add-cart-modal-summary-info p {
  margin: 0;

  &:last-child {
    font-weight: 500;
  }
}

.product__add-cart-modal-summary-actions {
  display: flex;
  margin-left: 35px;
  margin-right: 35px;
  justify-content: space-between;
  padding-top: 36px;
}

.product__add-cart-modal-summary-actions a {
  font-family: $poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 198px;
  height: 66px;
  border: 1px solid $brown;
  background-color: $white;

  &:last-child {
    background-color: $brown;
    color: $white;
  }
}

@media (max-width: $tablet) {
  .product {
    margin-top: 6px;
    border-top: none;
  }

  .product__content-container {
    padding-top: 0;
    margin: 0 auto;
    width: 678px;
  }

  .product__images-container {
    width: 319px;
    padding-top: 42px;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  .product__images-preview {
    flex-direction: row;
    margin-right: 0;
    padding-top: 10px;
  }

  .product__images-preview img {
    width: 97px;
    height: 129px;
  }

  .product__images-main img {
    width: 319px;
    height: 286px;
  }

  .product__description {
    padding-top: 32px;
    margin-left: 40px;
  }

  .product__description-table {
    width: 319px;
  }

  .product__description-table td:nth-child(2) {
    padding-left: 0;
  }

  .product__description-add-to-card {
    width: 319px;
    margin-top: 51px;
  }

  .product__description-additional-info {
    width: 318px;
    padding-top: 15px;
  }

  .product__description-additional-info p {
    font-size: 12px;
    line-height: 16px;
  }

  .product__slider {
    margin-top: 66px;
  }

  .product__add-cart-modal-window {
    top: 258px;
    width: 502px;
  }

  .product__add-cart-modal-window-close {
    right: 15px;
  }

  .product__add-cart-modal-item {
    margin-left: 30px;
    margin-right: 30px;
  }

  .product__add-cart-modal-item img {
    width: 88px;
  }

  .product__add-cart-modal-item-quantity {
    padding-top: 4px;
  }

  .product__add-cart-modal-summary-info {
    margin-left: 29px;
    margin-right: 27px;
  }

  .product__add-cart-modal-summary-actions {
    margin-left: 30px;
    margin-right: 30px;
  }

  .product__add-cart-modal-summary-actions a {
    width: 204px;
  }
}

@media (max-width: $mobile) {
  .product__content-container {
    width: 290px;
    flex-direction: column;
  }

  .product__images-container {
    padding-top: 12px;
    width: 290px;
  }

  .product__images-preview {
    display: none;
  }

  .product__images-main {
    position: relative;
  }

  .product__images-pages {
    display: block;
    font-family: $poppins;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: $black;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .product__images-main img {
    width: 290px;
    height: 260px;
  }

  .product__description {
    width: 290px;
    margin-left: 0;
    padding-top: 36px;
  }

  .product__description-tabs-pagination {
    padding-top: 29px;
    width: 247px;
  }

  .product__description-table {
    width: 290px;
  }

  .product__description-add-to-card {
    width: 290px;
    margin-top: 40px;
  }

  .product__description-additional-info {
    width: 290px;
    padding-top: 11px;
    padding-right: 2px;
    box-sizing: border-box;
  }

  .product__description-additional-info p {
    text-align: center;
    padding-bottom: 0;
    padding-top: 1px;
    width: 68px;

    &:first-child {
      padding-right: 17px;
    }

    &:last-child {
      padding-left: 22px;
    }
  }

  .product__slider {
    margin-top: 56px;
  }

  .product__add-cart-modal-window {
    width: 290px;
    top: 117px;
    min-height: 519px;
  }

  .product__add-cart-modal-window-close {
    top: 15px;
    right: 9px;
  }

  .product__add-cart-modal-window h2 {
    font-size: 24px;
    line-height: 29px;
    width: 187px;
    margin: 0 auto;
    padding-top: 38px;
  }

  .product__add-cart-modal-item {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 29px;
    padding-bottom: 24px;
  }

  .product__add-cart-modal-item-description {
    margin-left: 16px;
  }

  .product__add-cart-modal-item-description h3 {
    font-size: 16px;
    line-height: 21px;
  }

  .product__add-cart-modal-item-description p {
    font-size: 16px;
    line-height: 21px;
    padding-top: 5px;
  }

  .product__add-cart-modal-item img {
    width: 70px;
    height: 63px;
  }

  .product__add-cart-modal-item-quantity output {
    padding-bottom: 3px;
  }

  .product__add-cart-modal-summary {
    padding-top: 21px;
  }

  .product__add-cart-modal-summary-info {
    flex-direction: column;
    font-size: 12px;
    line-height: 16px;
    margin-left: 15px;
  }

  .product__add-cart-modal-summary-info p {
    &:last-child {
      padding-top: 12px;
    }
  }

  .product__add-cart-modal-summary-actions {
    flex-direction: column;
    margin: 0;
    padding-top: 31px;
    align-items: center;
  }

  .product__add-cart-modal-summary-actions a {
    width: 258px;

    &:last-child {
      margin-top: 20px;
    }
  }
}
