$cormorant: "Cormorant Garamond", "Times New Roman", serif;
$poppins: "Poppins", "Arial", sans-serif;
$tablet: 1023px;
$mobile: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$border-gray: #f6f5f4;
$gray: #9b9997;
$black: #1d1613;
$white: #ffffff;
$brown: #a87b62;
